:root {
  --primary-color: #137fec;
  --text-color: #4b5563;
  --header-color: #111827;
  --border-color: #e5e7eb;
  --gray-color-100: #f3f4f6;
  --grray-color-500: #6b7280:
  --bacground-color:#f6f7f8;
  
}
